.bg {
  display: flex;
}

@media screen and (orientation: portrait), (max-width: 767px) {
  .bg {
    display: flex;
    flex-direction: column;
  }
}

.form_container {
  background-image: url("https://i.pinimg.com/736x/04/23/65/0423658e78e93dd9dac1a7fc9a9fce83.jpg");
  width: 55vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  padding-left: 10%;
}

@media screen and (orientation: portrait), (max-width: 767px) {
  .form_container {
    width: 100vw;
    height: 40vh;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45vw;
  color: black;
  background-color: white;
}

@media screen and (orientation: portrait), (max-width: 767px) {
  .form {
    width: 100vw;
    height: 60vh;
    padding: 8px;
  }
}

.main {
  margin: 0px;
  padding: 0px;
}

.bodyTag {
  margin: 0;
  padding: 0;
}

.fatCatHeading {
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: bolder;
  color: white;
  margin: 0px;
  font-size: 45px;
}

.para {
  margin-top: 2px;
  color: white;
  font-family: "Roboto";
}

.btn {
  background-color: #2e77d9;
  color: white;
  padding: 10px;
  align-self: flex-start;
  border: none;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 1px;
  cursor: pointer;
}

.greetHeading {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 30px;
  margin: 0;
}

.paragraph {
  margin-top: 10px;
  font-family: "Roboto";
  margin-bottom: 30px;
}

.input {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  color: black;
}

.inputBg {
  border: 1px grey solid;
  border-radius: 20px;
  width: 60%;
  height: 7vh;
  padding: 5px;
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  margin-bottom: 20px;
}

.icons {
  margin-right: 10px;
  font-size: 22px;
  color: gray;
}

.loginBtn {
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  padding: 12px;
  width: 15vw;
  cursor: pointer;
  margin-top: 10px;
}

.loginBtnDisabled {
  color: white;
  background-color: gray;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  padding: 12px;
  width: 15vw;
  cursor: default;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .inputBg {
    width: 80vw;
    margin-bottom: 20px;
    height: 6vh;
  }

  .loginBtn {
    width: 50vw;
  }

  .loginBtnDisabled {
    width: 50vw;
  }

  .paragraph {
    margin-top: 12px;
    font-family: "Roboto";
    margin-bottom: 20px;
  }
}

.forgot {
  color: gray;
  font-size: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 12px;
}

.error {
  color: red;
  margin: 0px;
}
